.admin-login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.admin-login-form {
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  width: 500px;
  border: 2px solid white;
}

.admin-login-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.admin-login-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.admin-login-form .error {
  color: red;
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px
}